/* =========================
   App Layout
========================= */

#app {
  display: flex;

  width: 100vw;
  height: 100vh;
}

#chat {
  flex: 1;
  min-width: 0;

  height: 100vh;

  display: flex;
  flex-direction: column;
}